
@{
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}

@model RegistroDeTickets.web.Models.LoginViewModel


@{
    ViewData["Title"] = "Iniciar Sesion";
}

<style>
    .registration-form {
        background-color: #ffffff;
        padding: 30px;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        max-width: 400px;
        margin-top: 150px;
    }
</style>

<div class="registration-form">
    <h2 class="text-center mb-4 fw-bold" style="color: #0d6efd;">Iniciar Sesion</h2>

    <form asp-action="IniciarSesion" method="post">

        <div class="input-group mb-3">
            <span class="input-group-text"><i class="bi bi-person"></i></span>
            <input asp-for="Email" type="text" class="form-control" id="email" placeholder="Email">
            
        </div>
        <div class="input-group mb-3">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text"><i class="bi bi-lock"></i></span>
            <input asp-for="PasswordHash" type="password" class="form-control" id="password" placeholder="Contraseña">
            <button class="input-group-text" type="button" id="togglePassword">
                <i class="bi bi-eye"></i>
            </button>
            
        </div>
        <div class="input-group mb-3">
            <span asp-validation-for="PasswordHash" class="text-danger"></span>
        </div>

        <div class="text-center mb-3">
            <a @* asp-controller="Usuario" *@ 
        @* asp-action="RecuperarContraseña" *@
               href="#"
               class="text-secondary small">
                ¿Olvidaste tu contraseña?
            </a>
        </div>

        <div class="d-grid">
            <button type="submit" class="btn btn-primary btn-block mb-3">Ingresar</button>
        </div>

        <div class="d-grid">
            <a class="btn btn-outline-primary" asp-area="" asp-controller="Usuario" asp-action="Registrar">Registrarme</a>
        </div>

        <div class="text-center mt-3">
            <a class="text-info" asp-area="" asp-controller="Login" asp-action="RecuperarContrasenia">¿Olvidaste tu contraseña?</a>
        </div>

    </form>
</div>

<script>
    const setupPasswordToggle = (toggleButtonId, passwordInputId) => {
        const toggleButton = document.getElementById(toggleButtonId);
        const passwordInput = document.getElementById(passwordInputId);
        const eyeIcon = toggleButton.querySelector('i');

        toggleButton.addEventListener('click', function () {
            const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', type);

            eyeIcon.classList.toggle('bi-eye');
            eyeIcon.classList.toggle('bi-eye-slash');
        });
    };

    setupPasswordToggle('togglePassword', 'password');
    setupPasswordToggle('toggleConfirmPassword', 'confirmPassword');
</script>